* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-neon: hsl(345, 70%, 45%);
    --clr-bg: hsl(323 21% 16%);
  }

body{
    background: black;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#canvas1 {
    border: 5px solid grey;
    border-radius: 4%;
}

.controls {
    display: flex;
}

.controls > input {
    width: 60%;
}

.controls > label {
    text-align: center;
    width: 35%;
    color: white;
    font-size: 15px;
}

.neon-button {
    font-size: 20px;
    top: 15px;
    left: 33%;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;

    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

    position: relative;
}
  
.neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 95%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}
  
.neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
}
  
.neon-button:hover,
.neon-button:focus {
    color: var(--clr-bg);
    text-shadow: none;
}
  
.neon-button:hover::before,
.neon-button:focus::before {
    opacity: 1;
}

.neon-button:hover::after,
.neon-button:focus::after {
    opacity: 1;
}

/* button 2 */

#button-two {
    top: 50px;
    left: 27.5%;
}
